@using Worksy.Web.Data.Entities
@using Worksy.Web.Services.Abstractions
@inject IUserService _userService
@{
    var currentController = ViewContext.RouteData.Values["controller"]?.ToString();
    var currentAction = ViewContext.RouteData.Values["action"]?.ToString();

    User? user;
    try
    {
        user = await _userService.GetByEmailAsync(User.Identity.Name);
    }
    catch (Exception e)
    {
        user = null;
    }
}

<header id="header" class="header d-flex align-items-center @(ViewData["HeaderClass"] ?? "fixed-top")">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a asp-controller="Home" asp-action="Index" class="logo d-flex align-items-center">
            <img src="~/img/logos/2.png" alt="">
            <h1>Worksy</h1>
        </a>

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

        <nav id="navbar" class="navbar">
            <ul>
                <li>
                    <a class="@(currentAction == "Index" ? "active" : "")"
                       asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li>
                    <a class="@(currentAction == "About" ? "active" : "")"
                       asp-controller="Home" asp-action="About">Acerca de</a>
                </li>
                <li>
                    <a class="@(currentAction == "Contact" ? "active" : "")"
                       asp-controller="Home" asp-action="Contact">Contacto</a>
                </li>

                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="dropdown">
                        <a class="@(currentAction == "Login" || currentAction == "Register" ? "active" : "")"
                           asp-controller="Account" asp-action="Login">
                            <span>Ingresar</span>
                            <i class="bi bi-chevron-down dropdown-indicator"></i>
                        </a>
                        <ul>
                            <li>
                                <a class="@(currentAction == "Register" ? "active" : "")"
                                   asp-controller="Users" asp-action="Register">Regístrate</a>
                            </li>
                        </ul>
                    </li>
                }
                else
                {
                    <li>
                        <a class="@(currentAction == "UsersTable" ? "active" : "")"
                           asp-controller="Users" asp-action="UsersTable">Usuarios</a>
                    </li>

                    <div class="dropdown ms-3">
                        <button class="btn dropdown-toggle text-light" type="button" id="userMenuButton"
                                data-bs-toggle="dropdown" aria-expanded="false" style="color: #83a5e1;">
                            @user.FirstName.Substring(0,1). @user.LastName
                        </button>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userMenuButton">
                            <li>
                                <a class="dropdown-item @(currentAction == "Profile" ? "active" : "")"
                                   asp-controller="Account" asp-action="Profile">Perfil</a>
                            </li>

                            <li>
                                <hr class="dropdown-divider"/>
                            </li>

                            <li>
                                <form asp-controller="Account" asp-action="Logout" method="post" class="d-inline">
                                    <button type="submit" class="dropdown-item text-danger">Cerrar sesión</button>
                                </form>
                            </li>
                        </ul>
                    </div>
                }
            </ul>
        </nav>
    </div>
</header>
